@charset "UTF-8";

.mysecDiv {
	width: 100%;
	height: 80%;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 6%;
}

.mytit {
	margin-bottom: 20px;
	float: left;
}

.mytable {
	border-collapse: collapse;
	clear: both;
}

th#heading {
	border-top: 3px solid black;
	line-height: 2;
	border-bottom: 1.5px solid #a7a4a4;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mytitSub {
	float: left;
	line-height: 2.5;
	margin-left: 72%;
	text-decoration: underline;
}

.mytitSubre {
	float: left;
	line-height: 2.5;
	margin-left: 80.5%;
	text-decoration: underline;
}

.mytitSubinq {
	float: left;
	line-height: 2.5;
	margin-left: 73%;
	text-decoration: underline;
}

.mytitSublike {
	float: left;
	line-height: 2.5;
	margin-left: 76.5%;
	text-decoration: underline;
}

.mytitSubnewper {
	float: left;
	line-height: 2.5;
	margin-left: 71.5%;
	text-decoration: underline;
}

#mybody>tr>td {
	border-bottom: 1px solid #f3ebeb;
	padding-left: 10px;
}

#mybody>tr {
	height: 54px;
}

#mybody .likeTr {
	height: 59px;
}
#mybody div, img {
	width: 157px;
	height: 188px;
	float: left;
}
.mybodyP {
	margin-top: 18%;
	margin-left: 32%;
}

.mybodylikeP {
	font-weight: bold;
	color: black;
	padding-left: 10px;
}

.mybodylikeP:first-of-type {
	margin-top: 10px;
}

.mybodyBt {
	margin: 0;
	border: 1px solid black;
	background: black;
	color: white;
	width: 100%;
	outline: none;
}

h1.mysecTitle {
	margin-left: 40%;
}

hr.mysecLine {
	margin-bottom: 3%;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 43%; /* Could be more or less, depending on screen size */
	height: 40%;
}

.modal-content .inq1 {
	height: 40%;
	padding: 30px;
}

input.date1 {
	margin-top: 6px;
	margin-left: 5px;
	width: 70px;
	height: 26px;
	background: white;
	border: 1px solid rgb(217, 217, 217);
	color: gray;
}

input#endDay {
	border: 1px solid rgb(217, 217, 217);
	margin-left: 5px;
}

input#startDay {
	border: 1px solid rgb(217, 217, 217);
	margin-left: 5px;
}

input#listsubmit {
	margin-left: 5px;
	background: black;
	border: none;
	color: white;
	width: 70px;
	height: 26px;
}

input#btDay7 {
	margin-left: 15px;
}

.canslereser {
	width: 57%;
	height: 50px;
	border-bottom: 2px solid black;
	padding: 10px 0px;
	margin-top: 3%;
}
.canslereser2 {
	width: 84%;
	height: 50px;
	border-bottom: 2px solid black;
	padding: 10px 0px;
	margin-top: 3%;
}

.cansledl {
	width: 100%;
	float: left;
	height: 40px;
	float: left;
}

.cansledl dd, dt {
	float: left;
}
.cansledl dd {
    margin-left: 8px;
}
.cansledl dt {
	font-weight: bold;
	color: black;
}
.cansleList {
	width: 945%;
	padding: 31px 2px;
	height: 80px;
	border-bottom: 1px solid gray;
}
.cansleList_layout {
    display: flex;
}
.MycanInfo {
    width: 26%;
    height: 327px;
    border: 1px solid gray;
    position: relative;
    left: 52%;
    margin-top: -5px;
}
.cansleList2 {
	width: 84%;
	padding: 31px 2px;
	height: 80px;
	border-bottom: 1px solid gray;
}

.cansleList input {
	margin-left: 60px;
}
.cansleList2 input{
	margin-left: 60px;
	margin-right: 7px;
}

.cansleList .cansleTitle {
	height: 100%;
	float: left;
	color: black;
	font-weight: bold;
	margin-left: 1%;
}
.cansleList2 .cansleTitle {
	height: 100%;
	float: left;
	color: black;
	font-weight: bold;
	margin-left: 1%;
}

input.cansleSub {
	outline: none;
	margin-left: 37%;
	margin-top: 1.5%;
	width: 98px;
	height: 37px;
	border: 0;
	background: black;
	color: white;
	font-weight: bold;
}

.cansleList p {
	margin-left: 23%;
}

.cansleList .gkfdls {
	color: red;
	font-weight: bold;
}

.cansletjfaud {
	margin: 15px 5px;
	font-weight: bold;
}
.cansletjfaud>span{
	color: red;
	font-weight: bold;
}
.mysecCansle {
	text-decoration: underline;
}

input.newPerReser {
	width: 89px;
	height: 34px;
	outline: none;
	border: none;
	background: black;
	color: white;
}

div#page {
	margin: 10px 0;
	text-align: center;
	margin-top: 1%;
	margin-right: 19%;
}

#page {
	text-align: center;
	margin-top: 50px;
}

#page a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	vertical-align: middle;
	font-size: 13px;
	color: gray;
}

#page span {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ddd;
	vertical-align: middle;
	font-size: 13px;
	color: white;
	background: black;
	font-weight: bold;
}

#page a.on, #page a.on:hover, #page a.on:focus {
	background: #0383ce;
	font-weight: 600;
	border-color: #0383ce;
	color: #fff;
}

#page a:hover, #page a:focus {
	border-color: black;
	background: black;
	color: white;
	font-weight: bold;
}

#page span:hover, #page span:focus {
	border-color: black;
}

div#page img {
	width: 17px;
	height: 21px;
	background: none;
}

#page a.imgblock {
	border: none;
	width: 17px;
	height: 24px;
	background: none;
}

img.likeListimg {
	width: 25px;
	height: 25px;
}

td.likeTd {
	width: 146px;
}

td.likeTd>.mybodylikeP {
	width: 400px;
	float: left;
	padding-left: 10px;
}

td.likeTd>.mybodylikeimg {
	width: 60px;
	float: left;
	margin-top: 10px;
	margin-left: 24%;
}

td.likeTd>.mybodylikeimgList {
	width: 60px;
	float: left;
	margin-top: 10px;
	margin-left: 55%;
}

td.likeTd>.mybodylikeimg>span {
	width: 17px;
	height: 21px;
	margin-left: 20%;
	font-weight: bold;
	font-size: 1.2em;
}
td.likeTd>.mybodylikeimgList>span {
	width: 17px;
	height: 21px;
	margin-left: 15%;
}

input#mybodylikeCan {
	margin-top: 10px;
	margin-left: 34px;
	width: 104px;
	height: 100%;
	border: none;
	background: black;
	color: white;
	font-weight: bold;
}
a.linkperDetail {
    color: black;
}