@charset "UTF-8";

#pfReservation {
	width:100%;
	font-size:15px; line-height:1.76em;
}

#pfReservation {
	font-size: 1.0em;
	font-family: 'Noto Sans KR', sans-serif;
	color: #000;
}

/* layout and align */
.align-c {text-align:center !important;}
.align-l {text-align:left !important;}
.align-r {text-align:right !important;}
.align-j {text-align:justify !important;}
.float-pfReservation {overflow:hidden;}
.float-r {float:right;}
.float-l {float:left;}

/* 공통 */
#pfReservation {
	width:50%;
	min-width:700px;
	position:relative; 
	margin:0 auto;
	overflow:hidden;
	float: left;
	margin-left: 3%;
}
.inner {
	width:1200px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.board-pfReservation {
	padding: 50px 0;
}
/* 공지사항 list */
.no-ct p,
p.no-ct {
	padding:50px 0;
	text-align:center;
	color:#888;
}
.board-list {
	width: 100%;
	border-top: 2px solid #0383ce;
}
	.col-num {width:80px;}
	.col-writer {width:90px;}
	.col-date {width:130px;}
	.col-view {width:80px;}
.board-list th {
	background: #fafafa;
}
.board-list th,
.board-list td {
	padding: 12px 0;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.board-list td.list-tit {
	text-align: left;
}
.board-list .cmt-cnt {
	font-size:13px;
	color:#e55e29;
	margin-left:8px;
	font-weight:600;
}
/* pager */
.board-pager {
	text-align:center;
	margin-top: 50px;
}
.board-pager a {
	display:inline-block;
	width:30px; height:30px;
	line-height:30px;
	border:1px solid #ddd;
	vertical-align:middle;
	font-size:13px;
}
.board-pager a.on,
.board-pager a.on:hover, 
.board-pager a.on:focus {
	background:#0383ce;
	font-weight:600;
	border-color:#0383ce;
	color:#fff;
}
.board-pager a:hover, 
.board-pager a:focus {
	border-color:#0383ce;
}
.board-pager button {
	padding:0;
	border-radius:0;
	cursor:pointer;
	outline:0;
	background:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	width:32px; height:32px;
	border:1px solid #ddd;
}
.board-pager button:hover,
.board-pager button:focus {
	border-color:#aaa;
}
/* list search */
.board-search {
	text-align:center;
	margin-top:40px;
	box-sizing: border-box;
}
.board-search-field {
	width:180px;
	border:1px solid #ccc;
	height: 35px;
	box-sizing: border-box;
}
.board-search-select {
	height: 35px;
	border:1px solid #ccc;
	box-sizing: border-box;
	width: 100px;
}
.btn-normal-s {
	font-size:14px;
	height: 35px;
	color:#fff;
	background:#0383ce;
	border:1px solid #0383ce;
	outline:0;
	cursor:pointer;
	padding:0 20px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	box-sizing: border-box;
}

/* per list */
.per-list {
	border-top:2px solid #0383ce;
	margin-bottom:30px;
}
.per-list .no-ct {
	border-bottom:1px solid #ddd;
}
.per-list .per-q:before {
	position: absolute;
	left: 20px;
	top: 16px;
	font-size: 20px;
	color: #fff;
	background: #0383ce;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	line-height: 32px;
	text-align: center;
}
.per-list #s1:before{
	content: '2';
}
.per-list #s2:before{
	content: '3';
}
.per-list .per-q {
	padding: 20px 45px 20px 70px;
	cursor:pointer;
	position:relative;
	border-bottom:1px solid #ddd;
	font-size: 16px;
	font-weight: 500;
}
.per-list .per-q::after {
	display:block;
	position:absolute;
	right:0; top:0; bottom:0;
	width:35px;
	background:url("/image/board/per_off.png") no-repeat center;
}
.per-list .per-q.on {
	font-weight:600;
	color:#333;
	border-bottom: 0;
}
.per-list .per-q.on::after {
	background-image:url("/image/board/per_on.png");
}
.per-list .per-a {
	display:none;
	border-bottom: 1px solid gray;
}
.i11{
	border-top: 1px solid gray;
	padding: 15px 50px 15px 65px;
	clear: both;
	overflow: hidden;
}
.i11 p{
	float: left;
	font-weight: bold;
	width: 27%;
}
.i11 .fp2{
	margin-right:1%;
	margin-left:1%;
	font-weight: 100;
}
.i11 span{
	margin-right: 2%;
}
.i12{
	background: rgba(3,131,206,0.1);
	padding: 20px 50px 25px 65px;
	margin-bottom: 1%;
	border: none;
}
.per-list #s1{
	margin-bottom: 1.5%;
}
.per-list #s2{
	margin-top: 1.5%;
	border-top:2px solid #0383ce;
}
#s12 .i12 span{
	color: red;
	float: left;
	margin-right: 1%;
} 
#s12 .i12 p{
	font-weight: bold;
	float: left;
} 
#s12 .i12 label{
	margin-right: 2%;
	color: gray;
}
.Rightpayment{
	margin-top:2.8%;
	float:left;
	width: 360px;
	height: 912px;
	border: 1px solid rgb(200,200,200);
	margin-left: 2%;
}
.Rightpayment .payInfo1{
	text-align: center;
	border-bottom: 1px solid rgb(200,200,200);
	padding: 20px 15px 20px 15px;
	color: black;
	font-weight: bold;
}
.Rightpayment .payInfo2{
	border-bottom: 1px solid rgb(200,200,200);
	padding: 20px 15px 20px 15px;
	color: black;
}
.Rightpayment .payInfo2 p{
	color: black;
	font-weight: bold;
}
.Rightpayment .payInfo3{
	border-bottom: 1px solid rgb(200,200,200);
	padding: 20px 15px 20px 15px;
	color: black;
}
.Rightpayment .payInfo3 p{
	color: black;
	font-weight: bold;
}
.Rightpayment .payInfo4{
	border-bottom: 1px solid rgb(200,200,200);
	padding: 20px 15px 20px 15px;
	color: red;
}
.Rightpayment .payInfo4 p{
	color: black;
}
.Rightpayment .payInfo5{
	border-bottom: 1px solid rgb(200,200,200);
	padding: 20px 15px 20px 15px;
	color: black;
	font-weight: bold;
}
.Rightpayment .payInfo5 select{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
	padding: 0 0 0 15px;
}
.Rightpayment .payInfo6{
	padding: 20px 15px 20px 15px;
}
.Rightpayment .payInfo6 label{
	margin-left: 5px;
	color: black;
	font-weight: bold;
	font-size: 0.8em;
}
.Rightpayment .payInfo6 checkbox{
	width: 15px;
	height: 15px;
}
.Rightpayment .payInfo7 input{
	width: 100%;
	color: white;
	background: #FF3A3D;
	height: 37px;
	border: none;
}

.Rightpayment .payInfo8{
	padding: 60px 15px 0px 15px;
	color: gray;
	font-size: 0.8em;
}
.MentInfo{
	width: 80%;
	float: left;
	height: 100px;
	padding: 15px;
	margin-left: 3%;
	margin-top: 1%;
}
.MentInfo input{
	width: 170px;
	height: 48px;
	margin: 10px;
	border: 1px solid black;
	background: white;
	color: black;
	padding: 15px;
	font-size: 16px;
}
.MentInfo #title{
	width: 300px;
}