/*
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
*/
/*-- Reset-Code --*/
body{
	background:url(../images/del3.jpg)no-repeat 0px 0px;
	background-size: cover;
	background-position: 50% 50%;
	opacity: 1.0;
}

body a {
	color:red;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
span{
	color: #E91E63;
}	
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type:none;
}
label {
	margin: 0;
	font-weight: 600;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/
.w3ls-main {
    width: 820px;
    margin: 0 auto;
    padding: 2em;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    -moz-box-shadow:  0px 1px 3px 3px rgba(253, 249, 249, 0.75);
    box-shadow: 0px 1px 3px 3px rgba(253, 249, 249, 0.75);
}
h1 {
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 35px 0 35px 0;
    padding: 0;
    color: #f5f0f0;
	font-family: 'Limelight', cursive;
}

h2 {
    font-size: 30px;
	margin-bottom:50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    border: 1px solid white;
    margin: 0 0 20px 0;
    padding: 10px 0;
    color: #fff;
    font-family: 'Yeseva One', cursive;
}

label.w3ls-opt {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
	margin-top: 15px;
    padding: 10px 0;
	color: #fff; 
	font-family: 'Yeseva One', cursive;
}
label.w3ls-opt {
    width: 30%;
    display: inline-block;
	float: left;
}
span.w3ls-star {
    font-size: 28px;
    vertical-align: -5px;
    color: #E91E63;
}
label.w3ls-opt1 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #fff;	
	font-family: 'Yeseva One', cursive;
}
input[type="text"],input[type="password"] {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px;
    margin: 15px 0;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: #2d252594;
    color: #fff;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

input[type="email"] {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: #2d252594;
    color: #fff;
    box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
span.w3ls-input textarea {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
	border: 1px solid #fff;
	background: transparent;
	box-sizing: border-box;
    color: #fff;
	outline: none;
	min-height: 90px;
	resize: none;
	font-family: 'Open Sans', sans-serif;
}
span.text:nth-child(1) {
    margin-right: 8px;
}
.text {
    width: 49%;
    float: left;
}
span.text:nth-child(3) {	
	margin-right: 8px;
}
.text {
    width: 49%;
    float: left;
}
span.text:nth-child(5) {	
	margin-right: 8px;
}
.text {
    width: 49%;
    float: left;
}

 .w3ls-name {
    display: inline-block;
    width: 70%;
}

.adderss input {
    width: 100%;
    display: inline-block;
}
.adderss {
    display: inline-block;
    width: 70%;
}
.number {
    display: inline-block;
    width: 70%;
}
input[type="submit"] {
	font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
	display: block;
    padding: 10px;
	width: 30%;
    margin: 10px auto 0;
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 5px;
	outline:none;
	background: #aa3ad8;
    color: #fff;
	cursor: pointer;   
	font-family: 'Yeseva One', cursive;
}
input[type="submit"]:hover{
	background: #441856;
}
span.w3ls-text.w3ls-name select {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px 0;
    width: 25%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: #2d252594;
    color: #fff;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
input.price {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
	padding: 12px;
    width: 17.5%;
    margin: 0 0 0 10px;
	border: none;
    outline: none;
    box-sizing: border-box;
	cursor: pointer;
	color: #fff;
	background: #dca01abd;
	font-family: 'Yeseva One', cursive;
}
span.w3ls-text.w3ls-name select option {
    color: #000;
}

/* Load */
w3ls-pwd{
	display: inline-block;
    width: 70%;
}
/* Load */
.input {
    margin: 20px 0;
}
footer {
	font-size: 15px;
	font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fff;
    margin: 40px 0 30px 0;
   font-family: 'Yeseva One', cursive;
}
footer a{
	font-size: 15px;
	font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
	color: #aa3ad8;
	font-family: 'Yeseva One', cursive;
}
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
	
}
@media(max-width:1440px){
	.w3l-timer {
		width: 50%;
	}
	.w3l-form {
		width: 50%;
	}
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}

@media(max-width:1080px){
	
}
@media(max-width:1050px){
	span.w3ls-text.w3ls-name select {
		width: 25%;
	}
}
@media(max-width:1024px){
	input.price {
		width: 20%;
	}
}
@media(max-width:991px){
	
}
@media(max-width:900px){
	
}
@media(max-width:800px){
	h1 {
		font-size: 45px;
	}
}
@media(max-width:768px){
	h1{
		font-size: 43px;
	}
	.w3ls-main {
		width: 570px;
	}
	span.w3ls-text.w3ls-name select {
		width: 25.9%;
	}
	input.price {
		width: 16.6%;
	}
}
@media(max-width:736px){
	h1{
		font-size: 40px;
	}
	span.w3ls-text.w3ls-name select {
		width: 25.9%;
	}
}
@media(max-width:667px){
	h1 {
		font-size: 37px;
	}
	.w3ls-main {
		width: 500px;
	}
	label.w3ls-opt {
		width: 33%;
		display: inline-block;
		float: left;
	}
	.w3ls-name {
		display: inline-block;
		width: 66%;
	}
	span.w3ls-text.w3ls-name select {
		width: 24.40%;
	}
	.adderss {
		display: inline-block;
		width: 67%;
	}
	.text {
		width: 48%;
		float: left;
	}
	span.w3ls-input textarea{
		width: 99%;
	}
	input.price {
		width: 20%;
	}
}
@media(max-width:640px){
	h1 {
		font-size: 35px;
	}
	.w3ls-main {
		width: 480px;
	}
	span.w3ls-text.w3ls-name select {
		width: 24.3%;
	}
	footer {
		font-size: 13px;
		letter-spacing: 1px;
	}
}
@media(max-width:600px){
	h1{	
		letter-spacing: 1px;
	}
	h2{	
		font-size: 28px;
		letter-spacing: 1px;
	}
	.w3ls-main {
		width: 450px;
	}
	span.w3ls-text.w3ls-name select {
		width: 49%;
	}
	input.price {
		width: 49%;
	}
	input.price {
		margin: 0 0 0 0px;
	}
	footer a {
		font-size: 13px;
	}
}
@media(max-width:568px){
	h1 {
		font-size: 33px;
	}
	.w3ls-main {
		width: 440px;
	}
	footer {
		font-size: 13px;
		letter-spacing: 1px;
	}
	footer {
		font-size: 13px;
		letter-spacing: 1px;
	}
}
@media(max-width:480px){
	h2 {
		font-size: 21px;
		letter-spacing: 1px;
	}
	.w3ls-main {
		width: 350px;
	}
	label.w3ls-opt {
		width: 100%;
		padding: 0px 0px;
		display: inline-block;
		float: left;
	}
	span.w3ls-text.w3ls-name select {
		width: 49%;
	}
	input[type="text"]{
	    margin: 3px 0;
	}
	.w3ls-name {
		display: inline-block;
		width: 100%;
	}
	.adderss {
		display: inline-block;
		width: 100%;
	}
	span.w3ls-text.w3ls-name select{
		margin: 3px 0px;
	}
	label.w3ls-opt1 {
		letter-spacing: 1px;
	}
	input[type="submit"] {
		width: 50%;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 18px;
	}
	.w3ls-main {
		width: 300px;
	}
	input[type="text"]{
		margin: 3px 0 10px;
	}
	label.w3ls-opt {
		padding: 0px 0;
	}
	span.w3ls-text.w3ls-name select {
		width: 49%;
	}
	input.price {
		width: 49%;
	}
}
@media(max-width:384px){
	h2 {
		font-size: 15px;
	}
	.w3ls-main {
		width: 250px;
	}
	.text {
		width: 100%;
		float: left;
	}
	input[type="submit"] {
		width: 55%;
	}
	span.w3ls-text.w3ls-name select {
		width: 49%;
	}
}
@media(max-width:375px){
	h1{
		font-size: 25px;
	}
	h2{
		font-size: 15px;
	}
	footer a{
		font-size: 13px;
	}	
}
@media(max-width:320px){
	h1{
		font-size: 21px;
	}
	h2{
		letter-spacing: 0px;
	}
	.w3ls-main {
		padding: 1em;
		width: 230px;
	}
	input[type="submit"] {
		width: 60%;
	}
}
/*--/responsive--*/

/*-- checkbox --*/
.anim {
    font-size: 0.9em;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin: 2.5em 0;
    display: inline-block;
    letter-spacing: 1px;
} 
input.checkbox {
    background:#703925;
    cursor: pointer;
	vertical-align: middle;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	background: inherit; 
}
input.checkbox:after {
	content: ""; 
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1em;
	height: 1em;
	border: 1px solid #fff; 
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	-o-transition: .4s all;
	-ms-transition: .4s all;
	transition: .4s all;
}
input.checkbox:checked:after {
	transform: rotate(-45deg);
	height: .5rem;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}

